VITE_STAGE=local
STAGE=local

# Server

SERVER_PORT=4000
SERVER_AUTHENTICATE_SECRET=a69f73cca23a9ac5c8b567dc185a756e97c982164fe25859e0d1dcc1475c80a615b2123af1f5f94c11e3e9402c3ac558f500199d95b6d3e301758586281dcd26

# MongoDB Database

MONGODB_URI=mongodb+srv://dlvery:j8R5bQeQ7Xbu16X9@dev.6e1ucx2.mongodb.net/starter?retryWrites=true&w=majority&appName=dev

# Static Assets

STATIC_ASSETS_URL=static-dev.starter.com

# AWS S3

AWS_S3_REGION=us-east-1
AWS_S3_ASSETS_BUCKET=dev-starter-assets

# Google Mail

GOOGLE_MAIL_USER=app.dlvery.io@gmail.com
GOOGLE_MAIL_PASSWORD=mpfg psfr jhwt pcde

# Google OAuth

VITE_GOOGLE_CLIENT_ID=915185336820-n9pmjdp0ffpq21q70b82ts89te8ov0ns.apps.googleusercontent.com
GOOGLE_CLIENT_ID=915185336820-n9pmjdp0ffpq21q70b82ts89te8ov0ns.apps.googleusercontent.com

# Facebook OAuth

VITE_FACEBOOK_APP_ID=984133563226449
FACEBOOK_APP_ID=984133563226449

# TWILIO SMS

TWILIO_SMS_ACCOUNT_SID=ACb505683a50dd9ea18d878058ce745b7a
TWILIO_SMS_AUTH_TOKEN=32b7d487eab62e3c0c547c69d0314792
TWILIO_SMS_FROM=+12028399049

# TWILIO SMS

TWILIO_WHATSAPP_ACCOUNT_SID=ACb505683a50dd9ea18d878058ce745b7a
TWILIO_WHATSAPP_AUTH_TOKEN=32b7d487eab62e3c0c547c69d0314792
TWILIO_WHATSAPP_FROM=+14155238886

# Redis

REDIS_URL=redis://localhost:6379
REDIS_PASSWORD=password
REDIS_DISABLED=false

# Logger

LOGGER_URL=http://localhost:9200
LOGGER_USER=user
LOGGER_PASSWORD=password
LOGGER_DISABLED=false
