PROJECT=starter
PROJECT_DOMAIN=fakestarter.com
STAGE=local

# Server

SERVER_PORT=4000
SERVER_SECRET=12bc34d5e67fa8901234567890abcdeffedcba1234567890abcdef1234567890abcdef1234567890fedcba0987654321
SERVER_RECOVER_PASSWORD_BASE_URL=http://localhost:3000

# MongoDB Database

MONGODB_URI=mongodb://mongo1:27017,mongo2:27018,mongo3:27019/fakeapp?replicaSet=fakers

# Static Assets

STATIC_ASSETS_URL=static-fake.starter.com

# AWS S3

AWS_S3_REGION=us-east-1
AWS_S3_ASSETS_BUCKET=fake-starter-assets

# Google Mail

GOOGLE_MAIL_USER=fake.app@gmail.com
GOOGLE_MAIL_PASSWORD=fakepassword1234

# TWILIO SMS

TWILIO_SMS_ACCOUNT_SID=ACfake1234567890fake1234567890fake
TWILIO_SMS_AUTH_TOKEN=faketoken1234567890abcdef1234567890
TWILIO_SMS_FROM=+12345678900

# TWILIO WHATSAPP

TWILIO_WHATSAPP_ACCOUNT_SID=ACfake1234567890fake1234567890fake
TWILIO_WHATSAPP_AUTH_TOKEN=faketoken1234567890abcdef1234567890
TWILIO_WHATSAPP_FROM=+10987654321
